{
    "extends": ["airbnb"],
    "ignorePatterns": ["./node_modules", "assets", "webpack.dev.config.js", "webpack.prod.config.js", ".babelrc"],
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "cy": true
    },
    "rules": {
        "semi": [2, "never"],
        "indent": [2, 2, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 2],
        "react/prop-types": [0],
        "import/no-extraneous-dependencies": [0],
        "no-unused-vars": [0],
        "object-curly-newline": ["error", { "multiline": true, "minProperties": 6 }],
        "react/jsx-props-no-spreading": "off",
        "import/no-unresolved": [0],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/forbid-prop-types": [0],
        "import/no-cycle": [1]
    }
}