@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    src: url('../fonts/Roboto-Medium.ttf');
  }

body {
  background-image: linear-gradient(90deg, black, DimGray);
}